.post-ctr {
  display: flex;
  padding: 0 !important;
  overflow: hidden;
}

.post-main {
  flex: 1;
  padding: 30px;
}

.post-main video {
  width: 100%;
}

.post-aside {
  margin-right: 30px;
  background-color: var(--main-grey);
  padding: 30px;
}

.post-aside h6 {
  margin-bottom: 0;
  font-weight: 400;
}

.votes-num {
  font-size: 1.2rem;
  font-weight: 200;
}

.post-media {
  width: 100%;
  height: auto;
}

.post-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
}

.post-details p {
  font-size: 0.8rem;
}

.comment-icon {
  font-size: 1rem;
  margin-right: 5px;
}

.post-comments-btn {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background-color: var(--main-light);
  border: none;
}

.post-comments {
  height: 0px;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}

.post-comments-open {
  height: auto;
}
